[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
dotmap = "*"
colorama = "*"
numpy = "*"
astropy = "*"
scipy = "*"
"flake8" = "*"
nose = "*"
matplotlib = "*"
pandas = "*"
ipython = "*"
pyproj = "*"
pyyaml = "*"
jinja2 = "*"

[requires]
python_version = "3.7"

[dev-packages]
