[[source]]
verify_ssl = true
url = "https://pypi.org/simple"
name = "pypi"

[packages]
requests = "*"
namedtupled = "*"
dotmap = "*"
colorama = "*"
"jinja2" = "*"
numpy = "*"
astropy = "*"
dill = "*"
scipy = "*"
"flake8" = "*"
nose = "*"
coverage = "*"
matplotlib = "*"
tqdm = "*"
numba = "*"
pandas = "*"

[requires]
python_version = "3.7"

[dev-packages]
